# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database
MONGO_URI=mongodb://admin:password123@localhost:27017/acko-mer-ai?authSource=admin

# Redis
REDIS_URL=redis://:redispassword123@localhost:6379

# JWT
JWT_SECRET=AckoMerAIProject-AckoMerAIProject
JWT_EXPIRE=7d


GROQ_API_KEY=your_groq_api_key_here

# File Upload
MAX_FILE_SIZE=52428800
UPLOAD_DIR=./uploads

# Logging
LOG_LEVEL=info
LOG_DIR=./logs
